# Positional Arguments

In [3]:
def student_information(class_name, student_name):
    # Display information about a student and their class.
    print(student_name + " is enrolled in " + class_name + " class.")
# Positional arguments:
student_information('Mathematics', 'Ahmed')
# test

Ahmed is enrolled in Mathematics class.

# Keyword Arguments

In [6]:
def student_information(class_name, student_name):
    # Display information about a student and their class.
    print(student_name + " is enrolled in " + class_name + " class.")

## function calling

In [7]:
student_information(student_name="Ahmed", class_name="Python")

Ahmed is enrolled in Python class.

## Default Arguments

In [8]:
def enroll_student(student_name, course='Introduction to Python'):
    # Enroll a student in a course with a default option.
     print("Student Name: " + student_name)
     print("Enrolled Course: " + course)

In [9]:
enroll_student("Ali")

Student Name: Ali
Enrolled Course: Introduction to Python

In [10]:
enroll_student("Ali", "Physics")

Student Name: Ali
Enrolled Course: Physics

## variable Length Arguments *

In [11]:
def enroll_in_courses(student_name, *courses):
    # Enroll a student in multiple courses.
    print("Student: " + student_name)
    print("Enrolled in:")
    for course in courses:
        print("- " + course)

In [12]:
enroll_in_courses("Sara", "English", "Programming", "Physics")

Student: Sara
Enrolled in:
- English
- Programming
- Physics

## Variable Length Arguments **

In [29]:
def enroll_student(student_name, **details):
     # Enroll a student with additional details.
    print("Enrolling " + student_name + " with the following details:")
    for key, value in details.items():
        print(key + " = " + value)

In [31]:
enroll_student('Smith', course='Algebra II', semester='One', payment_method='Credit Card', student_age="22")

Enrolling Smith with the following details:
course = Algebra II
semester = One
payment_method = Credit Card
student_age = 22

In [5]:
def checkout_books(librarian_name, *book_titles, duration='2 weeks', **additional_info):
    print(book_titles)
    print(duration)
    print(additional_info)

In [7]:
checkout_books('sara', 'book1', 'book2')

('book1', 'book2')
2 weeks
{}

In [6]:
checkout_books('sara', 'book1', 'book2', duration='3 weeks')

('book1', 'book2')
3 weeks
{}

In [8]:
checkout_books('sara', 'book1', 'book2', duration='3 weeks', {late_fee='20$'})

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (44337553.py, line 1)